/* colors
bg #000
button c bg #FF5959 font #343434;
font-family: 'Inter',sans-serif;
 */

.calc {
  margin: 50px auto;
  width: 400px;
  height: 600px;
  border-radius: 20px;
  background: #000;
  color: #fff;
  font-family: 'Inter', sans-serif;
  padding: 18px;
}

.btn{
  width: 80px;
  height: 80px;
  background: #343434;
  border-radius: 10px;
  text-align: center;
  line-height: 80px;
  font-size: 36px;
  cursor: pointer;
  user-select: none;
}

.calc__screen{
  height: 130px;
  padding: 10px;
  display: grid;
  justify-items: end;
  align-items: end;
  margin-bottom: 14px;
}

.calc__screen p{
  text-align: right;
  font-size: 48px;
  margin: 0;
}

.btn:hover{
  filter: brightness(120%);
}

.btn:active{
  filter: brightness(90%);
}

.bg-red{
  background: #FF5959;
}

.font-green{
  color: #66FF7F;
}

.bg-green{
  background: #66FF7F;
}

.font-black{
  color: #343434;
}

.calc__buttons{
  display: grid;
  grid-template-areas: 
  "c bracket percent division"
  "seven eight nine multiply"
  "four five six minus "
  "one two three plus"
  "plus-minus zero dot equal"
  ;
  grid-gap: 7px;
  justify-items: center;
}

